.color-picker .color {
  width: 36px;
  height: 14px;
  border-right-style: 2px;
}
.color-picker .swatch {
  padding: 5px;
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
  display: inline-block;
  cursor: pointer;
}
.color-picker .popover {
  position: absolute;
  z-index: 2;
  left: -100px;
}
.color-picker .cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}